* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(120, 109, 134);
    background: radial-gradient(circle, rgb(83, 77, 92) 0%, rgb(64, 71, 80) 50%, rgba(35, 43, 54, 1) 100%);
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    cursor: default;
    color: #786da2;
    background-image: radial-gradient(circle, #9185c1 27%, #7f6952 45%, #d3cd82 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: transparent;
    /* background: #000; */
}